<%= form_for ([@profile, @joke], :html => { :class => "form-horizontal" }) do |f| %>
<fieldset>
  <legend></legend>
  <div class="control-group">
    <%= f.label :joke, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :joke %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :user %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<fieldset>
<% end %>
